<h1>{{this.reqType}} Request Received</h1>
<table>
  <caption>Table shows {{this.reqType}} Request Name & Value Pairs</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each dataList}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.value}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
