<div id="headcont"class="container">
  <div id="heading" class="jumbotron">
    <h1 class="display-3">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      Error 500 - Server Error: Something Has Gone Terribly Wrong</h1>
  </div>
</div>
