<!-- Author: James Hippler (ONID# 932807333)
Course: CS 290-400 Web Development
Homework Assignment: GET and POST checker
Due: Sunday, November 12, 2017 -->

<!DOCTYPE html>
<html>
<head>
	<title>James Hippler</title>
  <style>
    table {
      width: 50%;
      border-style: solid;
    }

    th {
      background-color: lightblue;
    }

    th, td {
      border-style: solid;
    }
  </style>
</head>

<body>
  <h1>HW Assignment: GET and POST Checker</h1>
  <hr>
	{{{ body }}}
</body>
</html>
